.container {
  margin-top: 30px;
}

.nav {
  background-color: #eee;
  border-bottom:none;
}


.active {
  border-bottom:4px solid cornflowerblue;
}

/* p {
  text-align: right;
} */

/* label {
  padding: 5px;
} */