/* You can add global styles to this file, and also import other style files */

body {
  margin: 25px;
}

p {
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
